* {
  padding:0;
  margin:0;
  text-decoration:none;
}

html,body{
  height:100%;
  margin:0px;
  padding:0px;
}

body {
  text-align:center;
  background:#fff;
}

a img {
  border:0;
}

a:active {
  outline-style:none;
}

table#wrap {
  width:100%; height:100%;
}

td#left {                    
  width:265px;             
}          

td#right {
  width:200px;  
  text-align:left;        
}

td#header {
}

td#center {
}


.clear {
  width:100%;
  height:1px;                     
  font-size:1px;
  float:left;
  clear:both;
}

a#logo {
  width:259px; height:192px;
  background:url(../images/logo.gif) 0 0 no-repeat;
  display:block;
  float:left;
  margin:57px 0 25px 0px;           
  outline-style:none;
  //position:relative;
  //left:-5px;
}

ul#left_navigation {
  list-style-type:none;
  display:block;
                                   
  margin:0 0 0 10px; 
  -margin:0 0 0 7px;  
}  

ul#left_navigation li { 
  display:block;               
  margin-bottom:10px;
  float:left;
}

ul#left_navigation li a {
  color:#00befe;
  font:13px/16px verdana;
  float:left;
  text-decoration:underline;
  padding-left:20px;
  display:block;
  width:230px; 
  outline-style:none;
  background:url(../images/nav_left.gif) 0 1px no-repeat;
}

ul#left_navigation li a:hover {
  text-decoration:none;
  background-image:url(../images/nav_hover.gif);
  position:relative;
  left:2px;
}

ul#left_navigation li a:active {
  outline-style:none;
}

a.uslugi {
  width:85px; height:24px; 
  display:block;
  background:url(../images/uslugi.gif) 0 0 no-repeat;
  margin:5px 0 0 150px;
  -margin:5px 0 0 75px;
  text-align:center;
  font:14px/22px tahoma;
  color:#fff;
  text-decoration:underline;
  float:left;
}

a.uslugi:hover {
  text-decoration:none;
}

a.uslugi:active {
  position:relative;
  top:1px;
}

.specialist {
  width:222px; height:79px; 
  background:#ccf4ff;
  margin:10px 0 0 15px;
  -margin:10px 0 0 7px;
  float:left;
}

img.left_corners {
  float:left;
  width:11px; height:79px;
  position:relative; 
  left:-1px;             
  //left:-3px;
  z-index:2;
  margin:0;
  -behavior: url(/iepngfix.htc); 
}

img.right_corners {
  float:right;
  width:11px; height:79px;         
  position:relative;
  //right:-3px;
  margin-top:-69px;
  -behavior: url(/iepngfix.htc); 
}

img.spec_foto {
  float:left;
  margin:0;
  position:relative;
  left:-11px;
  //left:-20px;
  z-index:1;
}

.specialist a.name {
  font:bold 13px tahoma;
  color:#000;
  float:left;                                 
  width:140px; height:36px;
  //margin-left:-10px;
  margin-top:5px;
}

.specialist a.name:hover {
  text-decoration:underline;   
}

.specialist p {
  font:12px tahoma;
  color:#000;
  float:left;                
  width:140px;                  
  //margin-left:-10px;
}

.blue_block {
  width:222px;        
  background:url(../images/blue_bg.gif) 0 0 repeat-y;
  float:left;    
  margin:15px 0 0 15px;
  -margin:15px 0 0 7px;
}

img.blue_top {
  width:222px; height:74px;
  float:left;
  //margin-left:-3px;
  position:relative;
  z-index:1;
  margin-bottom:-50px;
  
}

img.blue_bottom { 
  width:222px; height:6px;
  float:left;
  border-bottom:30px #fff solid;
  margin-left:15px;
}

.blue_block a.title {
  color:#fff;              
  font:bold 21px tahoma;
  position:relative;
  z-index:2;
  top:-15px; left:25px;
  display:block;
}

.blue_block p {
  color:#fff;              
  font:14px verdana;
  position:relative;
  z-index:2;
  margin:5px 0 15px 15px;
  display:block;
  width:190px;
} 

a.podrobnee {
  color:#fff;              
  font:14px verdana;
  position:relative;
  z-index:2;
  text-decoration:underline;
  float:right;
  margin:-5px 15px 10px 0;
  //margin:-5px 15px 0px 0;
}   

a.podrobnee:hover {
  text-decoration:none;
}

p.licenzii {
  color:#5148ff;
  font:bold 20px 'arial black';
  display:block;
  text-align:center;
  width:100%;
  z-index:100;
  float:left; 
  margin-left:-10px;           
}  

img#licenzia {
  float:left;
  margin:0px 0 20px 0px;
  position:relative;
  z-index:99;

}





div#slaider {
  width:99%; height:255px;
  background:url(../images/head1.jpg) right 0 no-repeat;
  border:2px #EBEBEB solid;
  margin:15px 0 0 0;
}  

table#navigation {
  width:100%; height:50px;    
  margin-left:-3px;                  
  //margin-left:-5px;
  //margin-top:-3px;
  float:left;
}

table#navigation td {
  background:url(../images/nav_main.gif) 0 0 repeat-x;
  text-align:center;
  width:14%;
}  

table#navigation td a {
  font:16px georgia;
  color:#fff;
  text-decoration:none;
  width:100%;
  display:block;
  outline-style:none;  
}

table#navigation td a:hover {
  text-decoration:underline;
}

div.links {
  float:left;
  margin-top:-240px;
  //margin-top:-235px;
  padding-left:25px;
  position:relative;
  z-index:4;
}

div.links a {
  float:left;
  margin-right:5px;
}

div.links a:hover {
  position:relative;
  top:1px;
}

  

table.dashed {
  width:185px;              
  
  margin:20px 5px 15px 0;
  -margin:20px 2px 15px 0;
}

td.corner1 {
  width:15px; height:15px;                       
  background:url(../images/corner1.gif) 0 0 no-repeat;           
  position:relative;
  z-index:1;
}

td.corner2 {
  width:15px; height:15px;
  background:url(../images/corner2.gif) 0 0 no-repeat;
  position:relative;
  z-index:1;
}

td.corner3 {
  width:15px; height:15px;
  background:url(../images/corner3.gif) 0 0 no-repeat;
  position:relative;
  z-index:1;
}

td.corner4 {
  width:15px; height:15px;
  background:url(../images/corner4.gif) 0 0 no-repeat;
  position:relative;
  z-index:1;
}

td.horizontal_top {
  height:15px;
  background:url(../images/dashed_hor.gif) 0 top repeat-x;
  position:relative;
  z-index:1;
}

td.horizontal_bottom {
  height:15px;
  background:url(../images/dashed_hor.gif) 0 bottom repeat-x;
  position:relative;
  z-index:1;
}

td.vertical_left {
  width:15px;
  background:url(../images/dashed_ver.gif) left 0 repeat-y;
  position:relative;
  z-index:1;
}

td.vertical_right {
  width:15px;
  background:url(../images/dashed_ver.gif) right 0 repeat-y;
  position:relative;
  z-index:1;
}

td.content {
  position:relative;
  z-index:1;
}

table.wrapper {
  float:left; 
  position:relative; 
}

a.block_image {
  display:block;
  float:left;
  /*height:100px;*/
  margin-bottom:5px;
  margin-left:-9px;
  margin-top:-9px;
  position:relative;
  z-index:2;
}

a.block_title {
  color:#00befe;
  font:bold 12px 'trebuchet ms';   
  text-decoration:underline;
  text-align:center;
  display:block;
  margin-top:10px;
  margin-right:-15px;
  float:left;
  width:80px;
  position:relative;
  left:1px;     
}

a.block_title:hover {
  text-decoration:none;
}

td.content p {
  color:#000;
  font:14px/13px 'trebuchet ms';            
  width:99%;
  display:block;
  text-align:justify;
  clear:both;
}

table.dashed100 {
  float:left;
  margin:15px 0 0 1%;
  border-bottom:15px #fff solid;
  clear:both;
  width:97%;
  position:relative;
  z-index:1;  
  font:14px/26px 'trebuchet ms';
}

table.dashed50 {
  float:left;
  margin:15px 0 0 1%;
  border-bottom:15px #fff solid;              
  clear:both;
  width:95%;                  
}

table.dashed100 p, table.dashed100 ul, table.dashed50 p {
  text-indent:1.5em;
  list-style-type:none;
  margin-bottom:10px;
  font:14px/26px 'trebuchet ms';
}       

table.dashed100 ul li {
  background:url(/images/li.gif) 2px 9px no-repeat;
  padding-left:20px;
  text-indent:0;
                        
}

table.dashed100 p a, table.dashed100 ul a {
  color:#000;
  border-bottom:1px #38A99D dashed;
  font:bold 13px/26px 'trebuchet ms';
}

table.dashed100 p a:hover, table.dashed100 ul a:hover {
  border-bottom:2px #38A99D solid;
}

table.dashed100 ol {
  margin-left:1.5em;
  margin-bottom:10px;
  font:14px/26px 'trebuchet ms';
}

table.dashed100 h2 {
  font:bold 15px/26px 'trebuchet ms';
  text-indent:1.5em;
}

table.dashed100 b, table.dashed100 p b {
  font:bold 14px/26px 'trebuchet ms';
}

table.dashed100 ul.text li {
  background:url(../images/li_text.gif) 0 13px no-repeat;
  text-indent:5px;    
}

table.dashed100 h1, table.dashed50 h1 {
  font:bold 18px georgia;
  margin:0 0 0 5px;
}

table.dashed100 a.zagolovok {
  text-align:left;
  margin:0 0 10px 20px;
}

.side_submenu {
  margin:10px 0 10px 0;
  float:left;
}

.side_submenu span.zagolovok {
  text-align:left;
  margin:0 0 0 20px;
  text-decoration: underline;
  color:#5148ff;
  font:bold 16px 'arial';
  text-align:center;
}

.side_submenu ul {
  list-style-type:none;
  display:block;
                                   
  margin:10px 0 10px 0;
  -margin:10px 0 0 7px;  
}  

.side_submenu ul li { 
  display:block;
  float:left;
  margin:0 0 5px 0;

}

.side_submenu ul li a {
  color:#00befe;
  font:13px/16px verdana;
  float:left;
  text-decoration:underline;
  padding-left:20px;
  display:block;
  width:230px; 
  outline-style:none;
}

.side_submenu ul li a:hover {
  text-decoration:none;
  position:relative;
  left:2px;
}

.side_submenu ul li a:active {
  outline-style:none;
}



table.dashed50 ul {
  list-style-type:none;
}

table.dashed50 ul li.title span {
  color:#00aeff;
  font:bold 12px 'arial black';
  text-decoration:underline;
  font-variant:small-caps;
  margin-left:0px;
  text-decoration: underline;
} 

table.dashed50 ul li.title a {
  color:#00aeff;
  font:bold 12px 'arial black';
  text-decoration:underline;
  font-variant:small-caps;
  margin-left:0px;
} 

table.dashed50 ul li.title a:hover {
  text-decoration:none;
}

table.dashed50 ul li { 
  margin-bottom:5px;
}

table.dashed50 ul li a {
  font:bold 12px verdana;
  color:#393939;
  font-variant:small-caps;
  margin-left:30px;
}

table.dashed50 ul li.blue a {
  color:#00aeff;
  font:bold 12px 'arial black';
  text-decoration:underline;
  font-variant:small-caps;
}  

table.dashed50 ul li.blue a:hover {
  text-decoration:none;
}

table.dashed50 ul li.blue span {
  font:11px tahoma;
  color:#393939;
  font-variant:small-caps;
}

table.dashed50 ul li a:hover {
  text-decoration:underline;
}


table.dashed50.submenu {width: 45%;}
table.dashed50.similar {width: 97%;}
table.dashed50.submenu td.content,
table.dashed50.similar td.content {height: auto;}

table.dashed50.submenu ul li a {
}

table.dashed50.similar ul li.simitem div.descr {
  font:10px verdana;
  color:#595959;
  margin-left:0;
}

table.dashed50.similar ul li.simitem a {
  font:bold 16px verdana;
  color:#393939;
  font-variant:small-caps;
  margin-left:0;
}

table.dashed50.similar ul li.simitem img {
  margin: 0 10px 10px 0;
}

table.dashed50.similar ul li.simitem {
  float: left;
  width: 45%;
  margin-right: 20px;
}

table.dashed50.similar ul li.title {
  margin-bottom: 15px;
}

table.dashed50.similar ul li.title a {
  font-size: 14px;
}

#center h1 {
  font:20px 'trebuchet ms';
  color:#ffff;
  float:teft;                   
  text-align:left;
  width:96%;
  margin-top:10px;  
}

p.contact {
  color:#393939;
  float:right;                            
  font:12px 'trebuchet ms';
  font-variant:small-caps;   
  margin-top:-1.0em;
  margin-right:20px;  
  -margin-right:10px;
}

p.contact a.red {
  font:bold 15px tahoma; 
  color:#fe0000;
  text-decoration:none;
  font-variant:small-caps;
  border-bottom:1px #fe0000 solid;
}

p.contact span.black {
  font:bold 15px tahoma; 
  color:#000;
  font-variant:small-caps;
  border-bottom:1px #000 solid;
}  

p.contact a.red:hover, p.contact a.black:hover {
  background:none;
}

p.contact a.red:hover {
  color:#fe0000;
  border-bottom:1px #fe0000 solid;
}

p.contact span.black:hover {
  border-bottom:1px #000 solid;
  color:#000;
}


a.banner {
  width:591px; height:116px;
  clear:both; 
  border:none;
}


.green_block {
  width:174px;
  background:url(../images/green_bg.gif) 0 0 repeat-y;
  float:left;
  margin:5px 0 0 0px;
}

img.green_top {
  width:174px; height:43px;
  float:left;
  position:relative;
  z-index:1;
  margin-bottom:-20px;
  //margin-left:-3px;
}

img.green_bottom { 
  width:174px; height:100px;
  float:left;
  position:relative;
  margin-top:-70px;
  //margin-left:-3px; 
  border-bottom:20px #fff solid;
}

.green_block a {
  color:#fff;              
  font:bold 18px tahoma;
  position:relative;
  z-index:2;
  top:-15px; left:25px;
  display:block;
  text-decoration:underline;
}  

.green_block a:hover {
  text-decoration:none;
}

.green_block p {
  color:#fff;              
  font:16px georgia;
  position:relative;
  z-index:2;
  margin:0 0 0 20px;
  display:block;
  width:140px;
  text-decoration:none;
}  

.green_block a:hover {
  text-decoration:underline;
}


a.zagolovok {
  color:#5148ff;
  font:bold 18px 'arial black';
  text-align:center;
  display:block;
  margin-top:10px;
  float:left;
  width:100%;
  margin-left:-8px;
}

a.zagolovok:hover {
  text-decoration:underline;
}  

.single_new {
  font:12px tahoma;
  color:#000;
  width:170px;
  margin:0 0 20px 0px;
  float:left;
  display:block;
  position:relative;
  z-index:99;
}

.single_new span {
  color:#A8A8A8;
  float:left;
  font:bold 12px verdana;
}

.single_new a {
  color:#00befe;
  float:right;
  text-decoration:underline;
  font:bold 12px verdana;
}

.single_new a:hover {
  text-decoration:none;
}

ul#nav {
  display:block;               
  float:right;    
  position:relative;               
  margin-top:-52px; left:140px; 
  list-style-type:none;
}

ul#nav img {
  margin-top:5px;
}

ul#nav li {
  float:left;
  margin-left:10px;
  -behavior: url(/iepngfix.htc); 
}

#headertext  {
  float:right;
  width:435px;
}

#headertext h1 {
  font:14px/20px 'trebuchet ms';
  margin-top:-155px;
  position:relative;
  float:right;
  width:420px;
}

#headertext h1 {
  float:left;
}

#headertext a.blue {
  margin-top:-183px;
  color:#00aefe;
  text-decoration:underline;
  font:bold 26px 'century gothic';
  float:left;
  position:relative;
  z-index:3;
  display:block;     
  width:100%;
} 

#headertext a.blue:hover {
  text-decoration:none;
}

.white_gradient {
  float:right;
  margin-top:-268px;
  position:relative;
  background:url(../images/white_gradient.png) 0 0 repeat-x;                
  width:460px; height:268px;
  -behavior: url(/iepngfix.htc);                                                    
  position:relative;
  z-index:0;
}

img.phone {
  float:left;
  margin-top:-218px;
  margin-right:00px;
  position:relative;
  z-index:3;
}




td.footer{
  height:136px;
  background:#6b66f7 url(../images/footer_bg.gif) 0 0 repeat-x;
}

td.footer p.title {
  float:left;
  font:bold 14px 'trebuchet ms';
  width:250px;
  margin-top:10px;   
  float:left;                    
}

td.footer p.title span {  
  font:14px 'trebuchet ms';  
      
}

td.footer p.lic {
  font:italic 14px 'trebuchet ms';
  margin:10px 80px 0 0; 
  float:right;                     
}

a.counter {
  float:left;
  margin-left:140px;
  -margin-left:70px;
  width:88px; height:31px;
  display:block;
  background:url(../images/counter.gif) 0 0 no-repeat;
  margin-top:10px;
  clear:left;
}

p.copy {
  font:12px 'trebuchet ms';
  float:right;
  width:530px;
  margin:-30px 18px 0 0;
  -margin:-30px 9px 0 0; 
}

p.copy span {color:#fff;}

p.menu_footer {
  color:#B8DDFE;
  display:block;
  font:26px/30px arial;
  text-align:center;
}

p.menu_footer a {
  color:#000;
  font:14px verdana;
  border-bottom:1px #000 dotted;
}

p.menu_footer a:hover {
  color:#fff;
  border-bottom:1px #fff dotted;
}



.window {
	height:241px;	width: 99%; 
	overflow: hidden;                     
	position: relative;    
	float:left;
	border:1px #D4D4D4 solid;
}
.image_reel {
	position: absolute;
	top: 0; left: 0;
}
.image_reel img {float: left;
//margin-left:-3px;}

.paging {
	display: none; 
}
.paging a {
	text-decoration: none;
	display:block;
	outline-style:none; 
        height:45px; 
}
.paging a.active {
	background:url(/images/pointer.png) center top no-repeat;
        outline-style:none;     
}
.paging a:hover {  }

.image, .image_ie  { float:left; width:25%; }





   
div.sc_menu {
    position: relative;
    height: 200px;                                                
    width: 710px;                                 
    overflow: hidden; 
    margin-left:20px; 
    position:relative;
    z-index:4;    
    background:#fff;            
}

ul.sc_menu {
    display: block;
    height: 200px;                                                
    width: 5000px;                  
}

.sc_menu li {
    display: block;
    float: left;                           
    text-align:center;
    height:187px;   
    margin-right:4px; 
    border:1px #78BCBC solid;
    background:none;
    text-indent:0;  
}

.sc_menu li img {
   border:6px #F5FAFA solid;
   background:none;
}

a.back, a.forward {
  width:30px; height:30px;
  display:block;
  margin-top:-115px;        
    position:relative;
    z-index:3;                     
}

a.back:active {
  position:relative;
  left:-2px;
}  

a.forward:active {
  position:relative;
  right:-2px;
}

a.back {
  background:url(../images/back.jpg) 0 0 no-repeat;
  float:left;
}

a.forward {
  background:url(../images/forward.jpg) 0 0 no-repeat;
  float:left;
  margin-left:720px;    
  -margin-left:360px;
} 


table.price {
  font:12px/18px verdana;
  color:#3B3B3B;
}

table.price tr {
  background:url(/images/dotted.gif) 0 bottom repeat-x;
}

table.price tr:hover {
  background:url(/images/dotted_hover.gif) 0 bottom repeat-x;
}

form table {
  font:italic bold 11px verdana;
  color:#6A6A6A;
} 

form table tr {
  background:url(/images/dotted.gif) 0 bottom repeat-x;
  padding:3px 0;
}

input {
  width:300px; height:26px; 
  background:url(/images/input.gif) 0 0 no-repeat;
  border:0;
  padding-left:10px;
  padding-right:10px;
  font:bold 11px verdana;
  color:#303030;
} 

select {
  background:#E2E2E2;
  font:bold 11px verdana;
  color:#303030;
  border:1px #B4B4B4 solid;
}

select option {
  border-bottom:1px #fff solid;
  padding:1px 5px;
}

textarea {
  width:300px;height:150px;
  background:url(/images/textarea.gif) 0 0 no-repeat;
  border:0;
  padding:10px;
  font:bold 11px verdana;
  color:#303030;
} 

.sp {
  margin-bottom:30px;
}

.sp img {
   float:left; 
   margin:0 20px 0 0; 
   border:1px #DEEFEF solid;
}

.sp h3 {
  color:#004B97;
  font:bold 18px 'century gothic',verdana;
}

.sp b {
  color:#409FFF;
}
