/* http://www.needit.ru */

p, font
{ font-family:		Verdana, Arial;
  font-size:		12px;
}
td
{ font-family:		Verdana, Arial;
  font-size:		12px;
}
.small
{ font-size:		10px;
}
.cat
{ font-size:		16px;
}
.big
{ font-size:		20px;
}
h1
{ font-family:	Verdana, Arial;
  font-size:	18px;
  color:	black;
}
.standard
{ font-weight:		normal;
}
.standardsmall
{ font-weight:		normal;
  font-size:		9px;
}
.light
{ color:			navy;
}
.lightsmall
{ color:			navy;
  font-size:		10px;
}
.lightstandard
{ color:			navy;
  font-weight:		normal;
}
.middle
{ color:			black;
}
a
{
  font-family:		Verdana, Arial;
  font-weight:		bold;
  font-size:		12px;
  color:			#10447C;
}
.no_underline
{ text-decoration:		none;
}
a.small
{
  font-family:		Verdana, Arial;
  font-size:		11px;
  font-weight:		bold;
  color:			#10447C;
}
a:hover
{ color:		red;
}
a.standard
{ font-family:		Verdana, Arial;
  font-size:		12px;
  font-weight:		normal;
}
a.cat
{ font-family:		Verdana, Arial;
  font-size:		16px;
  font-weight:		bold;
}
.cart
{ font-family:		Tahoma;
  font-size:		11px;
  BORDER-BOTTOM:	0px solid;	
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		0px solid;	
  BORDER-TOP:		0px solid;
  margin:			1px;
  font-weight:		bold;
  color:			black;
  background-color:  transparent;
}
.totalPrice
{ font-size:	    	16px;
  BORDER-BOTTOM:	0px solid;	
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		0px solid;	
  BORDER-TOP:		0px solid;
  margin:		1px;
  font-weight:		bold;
  color:		red;
  background-color:  transparent;
}

.login
{ font-size:	    12px;
  font-weight:		normal;
  BORDER-BOTTOM:	1px solid;	
  BORDER-LEFT:		1px solid;
  BORDER-RIGHT:		1px solid;	
  BORDER-TOP:		1px solid;
  margin:			1px;
  font-weight:		none;
  color:			black;
  background-color: white;
}

.myaccount_tab_bottom
{
  BORDER-BOTTOM:	1px solid;
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		1px solid;
  BORDER-TOP:		0px solid;
  BORDER-COLOR:		#82A1DD;
  text-align:		center;
  margin:			1px;
}

.myaccount_tab_top
{
  BORDER-BOTTOM:	0px solid;
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		1px solid;
  BORDER-TOP:		1px solid;
  BORDER-COLOR:		#82A1DD;
  text-align:		center;
  margin:			1px;
}

.myAccount_bottomright {
  BORDER-BOTTOM: 1px dotted #A9C0FF;
  BORDER-RIGHT: 1px dotted #A9C0FF;
}
.myAccount_bottom {
  BORDER-BOTTOM: 1px dotted #A9C0FF;
}
.myAccount_right {
  BORDER-RIGHT: 1px dotted #A9C0FF;
}

.comparison_button
{
  BORDER-BOTTOM:	1px solid;	
  BORDER-LEFT:		1px solid;
  BORDER-RIGHT:		1px solid;	
  BORDER-TOP:		1px solid;
  background-color:  #D2E7FF;
}

.pageSeparator {
	BORDER-BOTTOM: 2px dotted #A9C0FF
}
