/* http://www.needit.ru */

p, font
{ font-family:		Tahoma;
  font-size:		11px;
}
td
{ font-family:		Tahoma;
  font-size:		11px;
}
h1
{ font-family:		Tahoma;
  font-size:		18px;
  color:			black;
}
a
{ font-family:		Tahoma;
  font-weight:		bold;
  font-size:		11px;
  color:			navy;
}
.no_underline
{ text-decoration:		none;
}
.small
{ font-size:		10px;
}
.faq
{ font-size:		13px;
}
.big
{ font-size:		18px;
  text-decoration:		none;

}
.cat
{ font-size:		16px;
}
.standard
{ font-weight:		normal;
}
.light
{ color:			white;
}
.lightsmall
{ color:			white;
  font-size:		10px;
}
.lightstandard
{ color:			white;
  font-weight:		normal;
}
.middle
{ color:			#F0B5B5;
}
.cart
{ font-family:		Tahoma;
  font-size:		11px;
  BORDER-BOTTOM:	0px solid;	
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		0px solid;	
  BORDER-TOP:		0px solid;
  margin:			1px;
  font-weight:		bold;
  color:			#F0B5B5;
  background-color:  transparent;
}
.totalPrice
{ font-size:	    	16px;
  BORDER-BOTTOM:	0px solid;	
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		0px solid;	
  BORDER-TOP:		0px solid;
  margin:		1px;
  font-weight:		bold;
  color:		red;
  background-color:  transparent;
}
.myaccount_tab_bottom
{
  BORDER-BOTTOM:	1px solid;
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		1px solid;
  BORDER-TOP:		0px solid;
  BORDER-COLOR:		#CD8181;
  text-align:		center;
  margin:			1px;
}

.myaccount_tab_top
{
  BORDER-BOTTOM:	0px solid;
  BORDER-LEFT:		0px solid;
  BORDER-RIGHT:		1px solid;
  BORDER-TOP:		1px solid;
  BORDER-COLOR:		#CD8181;
  text-align:		center;
  margin:			1px;
}

.myAccount_bottomright {
  BORDER-BOTTOM: 1px dotted #F0B5B5;
  BORDER-RIGHT: 1px dotted #F0B5B5;
}
.myAccount_bottom {
  BORDER-BOTTOM: 1px dotted #F0B5B5;
}
.myAccount_right {
  BORDER-RIGHT: 1px dotted #F0B5B5;
}

.comparison_button
{
  BORDER-BOTTOM:	1px solid;	
  BORDER-LEFT:		1px solid;
  BORDER-RIGHT:		1px solid;	
  BORDER-TOP:		1px solid;
  background-color:  #F0B5B5;
}

.pageSeparator {
	BORDER-BOTTOM: 2px dotted #F0B5B5
}