BODY
{
	padding: 0px;
	margin: 0px;
}
FORM
{
	padding: 0px;
	margin: 0px;
}
P
{
	padding: 0px;
	margin: 10 0;
	text-indent: 0px;
}
P, TD, TH, DIV, FORM, SPAN, BODY
{
	font: 12px arial;
	color: #6B6B6B;
}
A
{
	color: #3E5470;
}
A:hover
{
}
.h100
{
}
H1.top
{
	font-family: arial;
	font-size: 12px;
	color: #DDE4F3;
	text-align: center;
	margin: 5px 0px 8px;
	padding: 0px;
}
H1
{
	font-family: arial;
	font-size: 12px;
	color: #DDE4F3;
	text-align: left;
	margin: 5px 0px 8px;
	padding: 0px;
}
H2
{
	color: #787878;
	font: 18px "arial narrow";
}
H2 A
{
	color: #787878;
	font: bold 18px "arial narrow";
	text-decoration: none;
}
.top
{
	padding: 0px;
	vertical-align: top;
	background-color: #566986;
}
.logo_td
{
	padding-left: 43px;
}
.menu_td
{
	text-align: right;
	padding-right: 45px;
	vertical-align: middle;
}
.btn_0
{
	padding: 0px 15px;
}
.btn_l
{
	width: 1px;
	text-align: right;
}
.btn_m
{
	background: url(/art/btn_rpt.gif) repeat-x left top;
	padding: 0px 10px;
	color: #FFFFFF;
}
.btn_r
{
	width: 1px;
	text-align: left;
}
.search_form
{
	width: 100%;
}
.search_inp
{
	width: 140px;
	font: 11px arial;
	background: url(/art/input_rpt.gif) repeat-x left top;
	padding-left: 3px;
}
.search_sel
{
	width: 140px;
	font: 11px arial;
	background: #EEF0F3 url(/art/input_rpt.gif) repeat-x left top;
	color: #3E5470;
}
.marka_td1, .marka_td2, .marka_td3, .marka_td4
{
	vertical-align: top;
	width: 25%;
}
.marka
{
	color: #787878;
	font: 18px "arial narrow";
}
.marka_td1 DIV
{
	padding-left: 0px;
	line-height: 22px;
	margin-top: 8px;
}
.marka_td2 DIV
{
	padding-left: 0px;
	line-height: 22px;
	margin-top: 8px;
}
.marka_td3 DIV
{
	padding-left: 0px;
	line-height: 22px;
	margin-top: 8px;
}
.marka_td4 DIV
{
	padding-left: 0px;
	line-height: 22px;
	margin-top: 8px;
}
.marka_td1 DIV A, .marka_td2 DIV A, .marka_td3 DIV A, .marka_td4 DIV A
{
	color: #3E5470;
	font: 15px arial;
	width: 80px;
	display: block;
	float: left;
	padding: 0 0 5px;
}
.marka_new
{
	vertical-align: top;
	width: 55px;
	text-align: center !important;
	padding-top: 15px;
	padding-left: 15px;
}
.marka_td3 IMG, .marka_td1 IMG, .marka_td2 IMG, .marka_td4 IMG
{
	position: relative;
	top: -2px;
}
.main_banner
{
	text-align: center;
	margin: 10px 0px;
}
.content
{
	padding: 0px 45px 0px 50px;
	font: 12px arial;
}
.dyn
{
	text-decoration: none;
}
.dyn_head
{
	font: 22px "arial narrow";
	text-align: center;
	margin-top: 8px;
}
.feedback_tbl TH
{
	text-align: right;
}
.bot
{
	vertical-align: bottom;
	padding: 30px 60px 10px 10px;
}
.bot TABLE TD
{
	color: #6B6B6B;
}
.text1
{
	color: #DDE4F3;
	font-family: Tahoma;
	font-size: 11px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 3px;
	margin-bottom: 0;
}
.text2
{
	margin-left: 5px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0;
}
.text3
{
	margin-left: 8px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0;
}
