<head>
  <title>{if $page_title_manual != ''}{$page_title_manual}{else}{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE} {if $page_title == ''}- {$smarty.const.CONF_SHOP_NAME}{/if}{/if}</title>
  <meta http-equiv="Content-Type" content="text/html; charset={$smarty.const.DEFAULT_CHARSET}">
  {$page_meta_tags}
  <script type="text/javascript" src="/js/works.js"></script> 
{if $main_content_template == 'home.tpl.html'}
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
{else} 
  <link rel="stylesheet" href="/styles/style2.css">
{/if}
</head>
