{* product discussion *}

<b>{$product_name}</b> : <u>{$smarty.const.DISCUSSION_TITLE}</u> 
	[ <a href="{$home_url}{php} echo $_REQUEST['prod_seolink'];{/php}_goods/">{$smarty.const.MORE_INFO_ON_PRODUCT}</a> ]
<p><center>

{if $product_reviews ne NULL}

 {section name=i loop=$product_reviews}
	<table width=90% border=0>
	<tr>
	 <td width=1%>
	  <nobr>{$smarty.const.DISCUSSION_NICKNAME}:
		</nobr></td>
			<td width=99% align=left>{$product_reviews[i].Author} ({$product_reviews[i].add_time})
	 </td>
	</tr>

	<tr>
	 <td width=1%>
	  <nobr>{$smarty.const.DISCUSSION_SUBJECT}:</nobr></td><td width=99% align=left><b>{$product_reviews[i].Topic}</b>
	 </td>
	</tr>

	{if $product_reviews[i][1] ne ""}
		<tr>
			<td width=1% valign=top><nobr>{$smarty.const.DISCUSSION_BODY}:</nobr></td><td width=99% align=left>{$product_reviews[i].Body}
			</td>
		</tr>
	{/if}
	</table>
				
	{if $log ne "" && $log eq $smarty.const.ADMIN_LOGIN}
	  [ <a href="{$home_url}{php} echo $_REQUEST['prod_seolink'];{/php}_goods/?discuss=true&remove_topic={$product_reviews[i][3]}">{$smarty.const.DISCUSSION_DELETE_POST_LINK}</a> ]
	{/if}
	
	<hr size=1 width=90%>

 {/section}

{else}
{$smarty.const.DISCUSSION_NO_POSTS_ON_ITEM_STRING}
{/if}



</center>

<p>{$smarty.const.DISCUSSION_ADD_MESSAGE}:
<form action="{$home_url}index.php" method=post name="formD" onSubmit="return validate_disc(this);">
<table>
<tr>
<td>{$smarty.const.DISCUSSION_NICKNAME}:</td>
<td><input type=text name=nick></td>
</tr>
<tr>
<td align=right>{$smarty.const.DISCUSSION_SUBJECT}:</td>
<td><input type=text name=topic></td>
</tr>
<tr>
<td align=right valign=top>{$smarty.const.DISCUSSION_BODY}:</td>
<td>
<textarea name=body cols=50 rows=10>
</textarea>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>
<input type=submit value="{$smarty.const.POST_BUTTON}">
<input type=hidden name=add_topic value=yes>
<input type=hidden name=productID value={$productID}>
<input type=hidden name=prod_seolink value="{php} echo $_REQUEST['prod_seolink'];{/php}">
<input type=hidden name=discuss value=yes>
<input type=reset value="{$smarty.const.RESET_BUTTON}">
</td>
</tr>
</table>
</form>