<form id="search_form" onsubmit="javascript: showBusyLayer()" action="{$home_url}index.php" method=get>
{section name=i loop=$searchstrings}
		<input type=hidden name='search_string_{$smarty.section.i.index}' 
			value="{$searchstrings[i]}">		
	{/section}
<input class="text" id="searchstring_text" name="searchstring" type="text" value="{$searchstring|default:""}" /> </form><a class="go" href="#" onClick="document.getElementById('search_form').submit();" title=""></a>
   </form>
 <div class="shadow2"></div>




