{* shopping cart brief info *}
<a href="{if $smarty.const.CONF_OPEN_SHOPPING_CART_IN_NEW_WINDOW eq 1}javascript:open_window('cart.php',400,300);{else}{$home_url}index.php?shopping_cart=yes{/if}">
                 {if $smarty.const.CONF_SHOW_ADD2CART == '1'}
		

 				{if $shopping_cart_value}
					<strong style="color:#3b819b;">{$shopping_cart_items} {$smarty.const.CART_CONTENT_NOT_EMPTY}
					{$shopping_cart_value_shown|replace:'"':'&quot;'}</strong>
 				{else}
					{$smarty.const.CART_CONTENT_EMPTY}
					
 				{/if}			
		    

		{/if}
                  </a>
