{* web shop setting *}


<form action='admin.php?dpt=conf&sub=setting&settings_groupID={$settings_groupID}' 
	name='MainForm' method=post>

<table cellPadding=6 bgColor=#3FAACF border=0 cellspacing=1 width=600>

	<tr>
		{section name=i loop=$setting_groups}
			{if $settings_groupID == $setting_groups[i].settings_groupID}
			<td bgcolor="#bedddb" width=20% align=center>
				<b>{$setting_groups[i].settings_group_name}</b>
			{else}
			<td bgcolor="#56afd6" width=20% align=center>
				<a href='admin.php?dpt=conf&sub=setting&settings_groupID={$setting_groups[i].settings_groupID}'>
					{$setting_groups[i].settings_group_name}
				</a>
			{/if}
		</td>
		{/section}
	</tr>

	<tr bgColor=#bedddb>
		<td colspan='{$smarty.section.i.index}' width=100%>
			<table width="600" border="0" cellspacing="1" cellpadding="3">
				{section name=i loop=$settings}
				<tr> 
					<td align="right" valign="top">
						<strong>{$settings[i].settings_title}</strong>:
						<br>{$settings[i].settings_description}
					</td>
					<td align="left" valign="top">{$controls[i]}</td>
				</tr>
				{/section}
			</table>
			<br>
		</td>
	</tr>


</table>
<p>
<input type=submit name='save' value='{$smarty.const.SAVE_BUTTON}'>


</form>