{* customer groups *}

<form action="admin.php" method=post>

<p>
{$smarty.const.ADMIN_CUSTGROUP_DESCRIPTION}

<p>
<table cellspacing=1 cellpadding=5 bgcolor=#bedddb border=0>
	<tr bgcolor=#56afd6> 
		<td align=middle colspan=4><b>{$smarty.const.ADMIN_CUSTGROUP}</b></td>
	</tr>
	<tr bgcolor=#bedddb> 
		<td align=middle>{$smarty.const.ADMIN_GROUP}</td>
		<td align=middle>{$smarty.const.ADMIN_DISCOUNT}</td>
		<td align=middle>{$smarty.const.ADMIN_SORT_ORDER}</td>
		<td align=middle>&nbsp;</td>
	</tr>

	{section name=i loop=$custgroups}
	<tr bgcolor=white>
		<td>
			<input type=text name='custgroup_name_{$custgroups[i].custgroupID}' 
				value='{$custgroups[i].custgroup_name}'>
		</td>
		<td>
			<input type=text name='custgroup_discount_{$custgroups[i].custgroupID}' 
				value='{$custgroups[i].custgroup_discount}'>
		</td>
		<td>
			<input type=text name='sort_order_{$custgroups[i].custgroupID}'
				value='{$custgroups[i].sort_order}'>	
		</td>
		<td>
			<a href="javascript:confirmDelete({$custgroups[i].custgroupID},'{$smarty.const.QUESTION_DELETE_CONFIRMATION}','admin.php?dpt=custord&sub=custgroup&delete=');">
				<img src="images/remove.jpg" border=0 alt="{$smarty.const.DELETE_BUTTON}">
			</a>
		</td>
	</tr>
	{/section}

	<tr> 
		<td align=middle colspan=4><b>{$smarty.const.ADD_BUTTON}</b></td>
	</tr>
	<tr bgcolor=white> 
		<td>
			<input name='new_custgroup_name' type=text>
		</td>
		<td>
			<input name='new_custgroup_discount' type=text>
		</td>
		<td>
			<input name='new_sort_order' type=text>
		</td>
		<td>&nbsp;</td>
	</tr>
</table>
<p> 
	<input type=hidden name=dpt value=custord>
	<input type=hidden name=sub value=custgroup>
	<input type=hidden name=save_custgroups value=yes>
	<input name="submit" type=submit value='{$smarty.const.SAVE_BUTTON}'>
</p>

</form>