{* order statuses *}

<p>
{if $configuration_saved eq 1}
	{$smarty.const.ADMIN_UPDATE_SUCCESSFUL}
{/if}

{if $prompt ne ""}
	<div class="error_message">{$prompt}</div>
{/if}

<form action="admin.php" method=post>
	<table border=0 cellpadding=5 cellspacing=1 bgcolor=#BEDDDB>

		<tr bgcolor=#56AFD6>
			<td colspan=5 align=center>
				<b>{$smarty.const.ADMIN_ORDER_STATUES}</b>
			</td>
		</tr>

		<tr bgcolor=#BEDDDB>
			<td align=center>{$smarty.const.ADMIN_ORDER_STATUS_NAME}</td>
			<td align=center>{$smarty.const.ADMIN_SORT_ORDER}</td>
			<td align=center>&nbsp;</td>
		</tr>

		{section name=i loop=$order_statues}
		<tr bgcolor=white>
			<td align=center>
				<input type=text name=status_name_{$order_statues[i].statusID}
					value="{$order_statues[i].status_name}">
			</td>
			<td align=center>
				<input type=text name=sort_order_{$order_statues[i].statusID}
					value="{$order_statues[i].sort_order}">
			</td>
			<td align=center>
				<a href="javascript:confirmDelete({$order_statues[i].statusID},'{$smarty.const.QUESTION_DELETE_CONFIRMATION}', 'admin.php?dpt=custord&sub=order_statuses&delete=');">
					<img src="images/remove.jpg" border=0 alt="{$smarty.const.DELETE_BUTTON}">
				</a>
			</td>
		</tr>
		{/section}

		<tr>
			<td colspan=3 align=center bgcolor=#56AFD6>
				{$smarty.const.ADD_BUTTON}:
			</td>
		</tr>

		<tr bgcolor=white>
			<td align=center>
				<input type=text name=new_status_name value="">
			</td>
			<td align=center>
				<input type=text name=new_sort_order value="">
			</td>
			<td align=center>
				&nbsp;
			</td>
		</tr>
	</table>

	<p>
	<input type=submit value="{$smarty.const.SAVE_BUTTON}" name="save">
	<input type=hidden name=save_successfull value=1>
	<input type=hidden name=dpt value="custord">
	<input type=hidden name=sub value="order_statuses">

</form>