{* customers list *}

{if !$customer_details}

<h3><u>{$smarty.const.ADMIN_SEARCH_OF_CUSTOMER}</u></h3>

<form name=MainForm method=GET>

<p>{$smarty.const.ADMIN_SEARCH_OF_CUSTOMER_PROMPT}</p>
<table border="0" cellspacing="1" cellpadding="5">

	<tr>
		<td>{$smarty.const.CUSTOMER_LOGIN}</td>
		<td><input type="text" name="login" value='{$login}'></td>
	</tr>

	<tr>
		<td>{$smarty.const.CUSTOMER_FIRST_NAME}</td>
		<td><input type="text" name="first_name" value='{$first_name}'></td>
	</tr>

	<tr>
		<td>{$smarty.const.CUSTOMER_LAST_NAME}</td>
		<td><input type="text" name="last_name" value='{$last_name}'></td>
	</tr>

	<tr>
		<td>{$smarty.const.CUSTOMER_EMAIL}</td>
		<td><input type="text" name="email" value='{$email}'></td>
	</tr>

	<tr>
		<td>{$smarty.const.ADMIN_CUSTOMER_GROUP_NAME}:</td>
		<td>
			<select name="groupID">

				<option value='0'>
					{$smarty.const.STRING_ANY}
				</option>

				{section name=i loop=$customer_groups}
				<option value='{$customer_groups[i].custgroupID}'
					{if $groupID == $customer_groups[i].custgroupID}
						selected
					{/if}
				>
					{$customer_groups[i].custgroup_name}
				</option>
				{/section}

			</select>
		</td>
	</tr>

	<tr>
		<td>{$smarty.const.STRING_MODULE_STATUS}:</td>
		<td>
			<select name="fActState">
				<option value='-1'{if $ActState eq -1} selected="selected"{/if}>
					{$smarty.const.STRING_ANY}
				</option>
				<option value='1'{if $ActState eq 1} selected="selected"{/if}>
					{$smarty.const.STR_ACTIVATED}
				</option>
				<option value='0'{if $ActState eq 0&&$ActState ne ''} selected="selected"{/if}>
					{$smarty.const.STR_NOTACTIVATED}
				</option>
			</select>
		</td>
	</tr>

</table>

	<input type=hidden name='dpt' value='custord'>
	<input type=hidden name='sub' value='custlist'>

<p> 
  <input type="submit" name="search" value="{$smarty.const.ADMIN_SEARCH_BUTTON}">
</p>

<p>
	{$search_result_string}
</p>


{if $customers}

{if $navigator}

<p>{$navigator}
{/if}

<p>
<table border="0" cellpadding="5" cellspacing="1" bgcolor="#56AFD6">

	<tr bgcolor="#BEDDDB"> 

		<td>
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.CUSTOMER_LOGIN}
					</td>
					<td>
						<a href='{$urlToSort}&sort=Login&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=Login&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>

		<td>
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.CUSTOMER_FIRST_NAME}
					</td>
					<td>
						<a href='{$urlToSort}&sort=first_name&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=first_name&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>

		<td>
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.CUSTOMER_LAST_NAME}
					</td>
					<td>
						<a href='{$urlToSort}&sort=last_name&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=last_name&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>

		<td bgcolor="#BEDDDB">
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.CUSTOMER_EMAIL}
					</td>
					<td>
						<a href='{$urlToSort}&sort=Email&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=Email&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>

		<td bgcolor="#BEDDDB">
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.ADMIN_CUSTOMER_GROUP_NAME}
					</td>
					<td>
						<a href='{$urlToSort}&sort=custgroupID&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=custgroupID&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>

		<td>
			<table>
				<tr>
					<td rowspan=2>
						{$smarty.const.ADMIN_REGISTRATION_TIME}
					</td>
					<td>
						<a href='{$urlToSort}&sort=reg_datetime&direction=ASC'>
							<img SRC="./images/arrow_up.gif" border=0>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href='{$urlToSort}&sort=reg_datetime&direction=DESC'>
							<img SRC="./images/arrow_down.gif" border=0>
						</a>
					</td>
				</tr>
			</table>
		</td>
		<td>
			{$smarty.const.STR_ACTSTATE}
		</td>
		<td>
			&nbsp;
		</td>

	</tr>

	{section name=i loop=$customers}
	<tr bgcolor=white>
		<td>
			<a href='admin.php?dpt=custord&sub=custlist&customer_details=contact_info&customerID={$customers[i].customerID}&encodedReturnUrl={$encodedReturnUrl}'>
				{$customers[i].Login}
			</a>
		</td>
		<td>{$customers[i].first_name}</td>
		<td>{$customers[i].last_name}</td>
		<td>{if $smarty.const.CONF_BACKEND_SAFEMODE eq 0}{$customers[i].Email}{else}{$smarty.const.ADMIN_SAFEMODE_BLOCKED}{/if}</td>
		<td>{$customers[i].custgroup_name}</td>
		<td>{$customers[i].reg_datetime}</td>
		<td align="center">
		{if $customers[i].ActivationCode}
			{$smarty.const.STR_NOTACTIVATED}
			<div><a href="{"activateID=`$customers[i].customerID`"|set_query}" onclick="return confirm('{$smarty.const.STR_QACTIVATE_ACCOUNT|replace:'[email]':$customers[i].Email}');">{$smarty.const.ACTIVATE_BUTTON}</a></div>
		{else}
			{$smarty.const.STR_ACTIVATED}
		{/if}
		</td>
		<td>
			{if $customers[i].allowToDelete}
				<a href="JavaScript:confirmDelete({$customers[i].customerID}, '{$smarty.const.QUESTION_DELETE_CONFIRMATION}', 'admin.php?dpt=custord&sub=custlist&encodedReturnUrl={$encodedReturnUrl}&deleteCustomerID=')">
					<img src="images/remove.jpg" border=0 alt="{$smarty.const.DELETE_BUTTON}">
				</a>
			{/if}
		</td>
	</tr>	
	{/section}

</table>

<br>

<p>
	{if $customers_has_been_exported_succefully == 1}
		{$smarty.const.ADMIN_CUSTOMERS_HAS_BEEN_EXPORTED_SUCCESSFULLY}
		<a href='{$urlToDownloadResult}'>{$smarty.const.ADMIN_DOWN_LOAD}</a> ( {$file_size} b ) 
	{else}
		<input type=hidden name='count_to_export' value='{$count_to_export}'>
		<input type=submit name='export_to_excel' value='{$smarty.const.ADMIN_EXPORT_USER_TO_FILE}'>
	{/if}
</p>
{/if}

</form>

{else}

<p>

 {if $customerID eq NULL}

	{$smarty.const.ADMIN_NO_RECORD_FOUND}
	<p>
	{if $returnUrl}
	<a href='{$returnUrl}'>
	{else}
	<a href='admin.php?dpt=custord&sub=custlist'>
	{/if}
		&lt;&lt;{$smarty.const.ADMIN_BACK_TO_SEARCH_FORM}
	</a>

 {else}


	{if $returnUrl}
	<a href='{$returnUrl}'>
	{else}
	<a href='admin.php?dpt=custord&sub=custlist'>
	{/if}
		&lt;&lt;{$smarty.const.ADMIN_BACK_TO_SEARCH_FORM}
	</a>

	<br>
	<br>

	<table width="90%" border="0" cellpadding="10" cellspacing="1" bgcolor="#56AFD6">

		<tr valign="top"> 

			{if $customer_details == 'contact_info'}			
				<td width="150" bgcolor="white">
					{$smarty.const.STRING_CONTACT_INFORMATION_DOWN_CASE}
				</td>
			{else}
				<td width="150" bgcolor="#BEDDDB">
					<a href="admin.php?dpt=custord&sub=custlist&customer_details=contact_info&customerID={$customerID}&encodedReturnUrl={$encodedReturnUrl}">
						{$smarty.const.STRING_CONTACT_INFORMATION_DOWN_CASE}
					</a>
				</td>
			{/if}

			<td width="80%" rowspan="5" bgcolor="white">


				{if $customer_details == 'contact_info'}
				<form method=POST name=MainForm>

				<table>
					<tr>
						<td>
							<strong>{$smarty.const.CUSTOMER_LOGIN}</strong>
						</td>
						<td>
							{$customerInfo.Login}
						</td>
					</tr>
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td>
							<strong>{$smarty.const.CUSTOMER_FIRST_NAME}</strong>
						</td>
						<td>
							{$customerInfo.first_name}
						</td>
					</tr>
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td>
							<strong>{$smarty.const.CUSTOMER_LAST_NAME}</strong>
						</td>
						<td>
							{$customerInfo.last_name}
						</td>
					</tr>
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td>
							<strong>{$smarty.const.CUSTOMER_EMAIL}</strong>
						</td>
						<td>
							{if $smarty.const.CONF_BACKEND_SAFEMODE eq 0}{$customerInfo.Email}{else}{$smarty.const.ADMIN_SAFEMODE_BLOCKED}{/if}
						</td>
					</tr>
					{section name=i loop=$reg_fields_values}
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td>
							<strong>{$reg_fields_values[i].reg_field_name}</strong>:
						</td>
						<td>
							{$reg_fields_values[i].reg_field_value}
						</td>
					</tr>
					{/section}
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td valign="top">
							<strong>{$smarty.const.CUSTOMER_SUBSCRIBE_FOR_NEWS}</strong>
						</td>
						<td>
							<input type=checkbox 
							{if $customerInfo.subscribed4news}
								checked
							{/if}
							name = 'subscribed4news'
							value='1'
							>
							<input type=submit name='subscribed4news_submit' value='{$smarty.const.ADMIN_CHANGE}'>
						</td>
					</tr>
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td valign="top">
							<strong>{$smarty.const.ADMIN_CUSTOMER_GROUP_NAME}</strong>
						</td>
						<td>
							<select name='custgroupID'>
								<option value='null'>-</option>
								{section name=i loop=$customer_groups}
									<option value='{$customer_groups[i].custgroupID}'
									{if $customer_groups[i].custgroupID == $customerInfo.custgroupID}
										selected
									{/if}
									>
										{$customer_groups[i].custgroup_name}
									</option> 
								{/section}
							</select>
							<input type=submit name='custgroupID_submit' value='{$smarty.const.ADMIN_CHANGE}'>
						</td>
					</tr>
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td valign="top"><strong>{$smarty.const.STR_ACTSTATE}</strong></td>
						<td>
						{if $customerInfo.ActivationCode}
							{$smarty.const.STR_NOTACTIVATED}
							<div><a href="{"activateID=`$customerInfo.customerID`"|set_query}" onclick="return confirm('{$smarty.const.STR_QACTIVATE_ACCOUNT|replace:'[email]':$customerInfo.Email}');">{$smarty.const.ACTIVATE_BUTTON}</a></div>
						{else}
							{$smarty.const.STR_ACTIVATED}
						{/if}
						</td>
					</tr>
					{if $customerInfo.ActivationCode}
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td><strong>{$smarty.const.STR_ACTCODE}</strong></td>
						<td>{$customerInfo.ActivationCode}</td>
					</tr>
					{/if}
					{if $customerInfo.allowToDelete}
					<tr><td colspan="2"><div class="divider_grey"></div></td></tr>
					<tr>
						<td></td>
						<td><input type="button" onclick="if(window.confirm('{$smarty.const.QUESTION_DELETE_CONFIRMATION}'))document.location.href='{"&safemode=&deleteCustomerID=`$customerInfo.customerID`"|set_query}';" value="{$smarty.const.TERMINATE_ACCOUNT_LINK}" /></td>
					</tr>
					{/if}
				</table>

				</form>
				{/if}


				{if $customer_details == 'address_book'}

					<table cellpadding=4>
					{section name=i loop=$addresses}
						<tr>
							<td>
								<b>{$smarty.const.CUSTOMER_ADDRESS} {$smarty.section.i.index+1} 
									{if $addresses[i].addressID == $defaultAddressID}
										({$smarty.const.STRING_DEFAULT})
									{/if}
								</b>
								<br>
								{$addresses[i].addressStr}
							</td>
						</tr>
					{/section}
					</table>

				{/if}

				{if $customer_details == 'order_history'}
					{if $orders}
						<form action='{$urlToSubmit}' method=POST>
							{include file='backend/admin_order_history.tpl.html'}
						</form>
					{else}
						&lt; {$smarty.const.ADMIN_NO_RECORD_FOUND} &gt;
					{/if}
				{/if}

				{if $customer_details == 'visit_log'}

					{if $visits}
					<table width=100% border=0 cellspacing=1 cellpadding=2 bgcolor=#56AFD6>

						{if $navigator}
						<tr>
							<td colspan=7>{$navigator}</td>
						</tr>
						{/if}

						<tr bgcolor=#BEDDDB>
							<td>
								<b>IP</b>
							</td>
							<td>
								<b>{$smarty.const.ADMIN_CUSTOMER_ENTER_TIME}</b>
							</td>
						</tr>

						{section name=i loop=$visits}
						<tr bgcolor=white>
							<td>
								{$visits[i].customer_ip}
							</td>
							<td>
								{$visits[i].customer_logtime}
							</td>
						</tr>
						{/section}

					</table>

					{else}
						&lt; {$smarty.const.ADMIN_NO_RECORD_FOUND} &gt;
					{/if}

				{/if}
				{if $customer_details == 'affiliate'}
					{include file="backend/custord_custlist_affiliate.tpl.html"}
				{/if}{* {if $customer_details == 'affiliate'} *}

			</td>
		</tr>

		<tr valign="top"> 
			{if $customer_details == 'address_book'}
				<td width="150" bgcolor="white">
					<strong>{$smarty.const.STRING_ADDRESS_BOOK}</strong>
				</td>
			{else}
				<td width="150" bgcolor="#BEDDDB">
					<a href="admin.php?dpt=custord&sub=custlist&customer_details=address_book&customerID={$customerID}&encodedReturnUrl={$encodedReturnUrl}">
						{$smarty.const.STRING_ADDRESS_BOOK}
					</a>
				</td>
			{/if}
		</tr>

		<tr valign="top"> 
			{if $customer_details == 'order_history'}
				<td width="150" bgcolor="white">
					<strong>{$smarty.const.STRING_ORDER_HISTORY}</strong>
				</td>
			{else}
				<td width="150" bgcolor="#BEDDDB">
					<a href="admin.php?dpt=custord&sub=custlist&customer_details=order_history&customerID={$customerID}&encodedReturnUrl={$encodedReturnUrl}">
						{$smarty.const.STRING_ORDER_HISTORY}
					</a>
				</td>
			{/if}
		</tr>

		<tr valign="top"> 

			{if $customer_details == 'visit_log'}
				<td width="150" bgcolor="white">
					<strong>{$smarty.const.STRING_VISIT_HISTORY}<strong>
				</td>
			{else}
				<td width="150" bgcolor="#BEDDDB">
					<a href="admin.php?dpt=custord&sub=custlist&customer_details=visit_log&customerID={$customerID}&encodedReturnUrl={$encodedReturnUrl}">
						{$smarty.const.STRING_VISIT_HISTORY}
					</a>
				</td>				
			{/if}
		</tr>
		<tr valign="top"> 

			{if $customer_details == 'affiliate'}
				<td width="150" bgcolor="white">
					<strong>{$smarty.const.STRING_AFFILIATE_PROGRAM}</strong>
				</td>
			{else}
				<td width="150" bgcolor="#BEDDDB">
					<a href="admin.php?dpt=custord&sub=custlist&customer_details=affiliate&customerID={$customerID}&encodedReturnUrl={$encodedReturnUrl}">
					{$smarty.const.STRING_AFFILIATE_PROGRAM}
					</a>
				</td>				
			{/if}
		</tr>
	</table>

 {/if}

{/if}