{* modules *}

<table cellpadding=0 cellspacing=0 width=100%>

<tr>
 <td bgcolor=#BEDDEB>

 <table cellpadding=10><tr>
 {section name=i loop=$admin_sub_departments}
   {if $current_sub ne $admin_sub_departments[i].id}
	 <td><a href="admin.php?dpt=modules&sub={$admin_sub_departments[i].id}">{$admin_sub_departments[i].name}</a></td>
   {else}
     <td><b>{$admin_sub_departments[i].name}</b></td>
   {/if}
 {/section}
 </tr></table>

 </td>
</tr>

<tr>
 <td valign=top bgcolor=#EEFAFC style="padding:10px;">
	{if $safemode}
	<p><font class=faq color=red><b>{$safemode}</b></font>
	{/if}

	{include file="backend/$admin_sub_dpt"}
 </td>
</tr>

</table>
