{* reports:  reports category viewed times *}

<p><b>{$smarty.const.ADMIN_CATEGORY_VIEWED_TIMES}</b></p>


{if $categories}
<table bgcolor=#56AFD6 cellspacing=1 cellpadding=3>

	<tr bgcolor=#BEDDDB>
		<td>{$smarty.const.ADMIN_CATEGORY_TITLE}</td>
		<td><b>{$smarty.const.ADMIN_VIEW_COUNT}</b></td>
	</tr>


	{section name=i loop=$categories}
	<tr bgcolor=#FFFFFF>
		<td>{$categories[i].name}</td>		
		<td align=right><b>{$categories[i].viewed_times}</b></td>
	</tr>
	{/section}

</table>
{else}
	{$smarty.const.STRING_EMPTY_LIST}
{/if}