{* customers authorization form *}
<table width="100%" cellpadding="0" cellspacing="0" class="blok">
<tr><td class="blokbg">
                {if ($log ne "")}<a href="index.php?user_details=yes">
				{$smarty.const.MY_ACCOUNT_LINK}</a>
				{else}
				<a href="index.php?register=yes">
				{$smarty.const.REGISTER_LINK}</a>
				{/if}
                  </td>
</tr><tr><td align="center">
{if $log ne ""}
	{* logout link *}
	<table width="100%">
	  <tr>
		<td align="center">
		<br><br>
			<a class="olive" href="index.php?logout=yes">{$smarty.const.LOGOUT_LINK}</a>
		<br><br><br>
		</td>
	  </tr>
	</table>

{else}

	{* authorization form *}

	<table cellspacing=0>
	<form action="index.php" method=post>
	<tr>
	 <td>
		<table width="100%" border=0>
		 <input type="hidden" name="enter" value="1">
		 <tr>
			<td align=right><font class="olive">{$smarty.const.CUSTOMER_LOGIN}</font></td>
			<td width="1"><input type="text" class="text" name="user_login" size=10></td>
		 </tr>
		 <tr>
			<td align=right><font class="olive">{$smarty.const.CUSTOMER_PASSWORD}</font></td>
			<td><input name="user_pw" class="text" type="password" size=10></td>
		 </tr>
		</table>	 </td>
	 <td valign="middle">
		
		<input type="submit"  value="{$smarty.const.OK_BUTTON}"> </td>
	</tr>
	{if $productID}  <input type=hidden name=productID value="{$productID}"> {/if}
		{if $categoryID} <input type=hidden name=categoryID value="{$categoryID}"> {/if}
	</form>
	</table>
    <table border="0" cellspacing="0" cellpadding="3">
        <tr>
          <td><a href="index.php?register=yes" >{$smarty.const.REGISTER_LINK}</a></td>
          <td align="right"><a href="index.php?logging=yes" >{$smarty.const.FORGOT_PASSWORD_LINK}</a></td>
        </tr>
      </table>

      
      {/if}
    </td></tr></table>