{* product comparation *}

<font class=big>
	<b>{$smarty.const.STRING_PRODUCT_COMPARISON}</b>
</font>
<br>
{if $product_category_path}
	<br>
	<font class=cat>
		<b>
			<a href="index.php" class="cat">{$smarty.const.LINK_TO_HOMEPAGE}</a> :
			{section name=i loop=$product_category_path}
				{if $product_category_path[i].categoryID != 1}
					<a class="cat" href="index.php?categoryID={$product_category_path[i].categoryID}">{$product_category_path[i].name}</a> :
				{/if}
			{/section}
		</b>
	</font>
	<br>
	{$category_description}
	
	<br>
{/if}{* $product_category_path *}
<br>
<table border=0 bgcolor={$smarty.const.CONF_MIDDLE_COLOR} cellpadding=3 cellspacing=1 width=95%>

	<!-- product name -->
	<tr>
		<td bgcolor={$smarty.const.CONF_LIGHT_COLOR} width=15%>
			{$smarty.const.TABLE_PRODUCT_NAME}
		</td>
		{section name=i loop=$products}
		<td bgcolor=white align=center width="{math equation="round(85 / $products_count)"}%">
			<a href='index.php?productID={$products[i].productID}'>
				{$products[i].name}
			</a>
		</td>
		{/section}
	</tr>

	<!-- picture -->
	<tr>
		<td bgcolor={$smarty.const.CONF_LIGHT_COLOR}>
			{$smarty.const.ADMIN_PRODUCT_PICTURE}
		</td>
		{section name=i loop=$products}
		<td bgcolor=white align="center">
			{if $products[i].thumbnail}
				<a href='index.php?productID={$products[i].productID}'><img src="products_pictures/{$products[i].thumbnail}" border="0" alt="{$products[i].name|replace:'"':'&quot;'}"></a>
			{else}
				-
			{/if}
		</td>
		{/section}
	</tr>

	<!-- price -->
	<tr>
		<td bgcolor={$smarty.const.CONF_LIGHT_COLOR}>
			{$smarty.const.STRING_PRODUCT_PRICE}
		</td>
		{section name=i loop=$products}
		<td bgcolor=white valign=top align=center>

			<nobr><b><font color=red>
					{if $products[i].Price <= 0}
						n/a
					{else}
						{$products[i].PriceWithUnit}
					{/if}
				</font></b></nobr>

		</td>
		{/section}
	</tr>

	<!-- description -->
	<tr>
		<td bgcolor={$smarty.const.CONF_LIGHT_COLOR}>
			{$smarty.const.STRING_PRODUCT_BRIEF_DESC}
		</td>
		{section name=i loop=$products}
		<td bgcolor=white valign=top>
			{if $products[i].brief_description}
				{$products[i].brief_description}			
			{else}
				-
			{/if}
		</td>
		{/section}
	</tr>


	{section name=i loop=$definedOptions}
	<tr>
		<td bgcolor={$smarty.const.CONF_LIGHT_COLOR}>
			{$definedOptions[i].name}
		</td>

		{section name=j loop=$products}
		<td bgcolor=white>
			<b>{$products[j][i]}</b>
		</td>
		{/section}
	</tr>
	{/section}

</table>