	<ul id="nav">
          <li><a href="/general-dentistry/" title="" rel="1" id="rel1"><img src="/images/slider_icon1.png" /></a></li>
          <li><a href="/24-dentistry/" title="" rel="2" id="rel2"><img src="/images/slider_icon2.png" /></a></li>
          <li><a href="/pediatric-dentistry/" title="" rel="3" id="rel3"><img src="/images/slider_icon3.png" /></a></li>
        </ul>
