      <ul id="left_navigation">
        <li><a href="{$home_url}implantation/" title="">имплантация зубов</a></li>
        <li><a href="{$home_url}orthopaedist/" title="">ортопедическое лечение</a></li>
        <li><a href="{$home_url}surgery/" title="">хирургическое лечение</a></li>
        <li><a href="{$home_url}therapeutic/" title="">терапевтическая стоматология</a></li>
        <li><a href="{$home_url}family/" title="">эстетическая стоматология</a></li>
        <li><a href="{$home_url}orthodontics/" title="">ортодонтическое лечение</a></li>
        <li><a href="{$home_url}airflow/" title="">отбеливание зубов</a></li>
        <li><a href="{$home_url}paradontology/" title="">парадонтологическое лечение</a></li>
        <li><a href="{$home_url}pediatric-dentistry/" title="">детская стоматология </a></li>
      </ul>

      <!--a class="uslugi" href="{$home_url}services/" title="">все услуги</a-->
