<table class="dashed100" cellspacing="0" cellpadding="0"><tr><td class="corner1">&nbsp;</td><td class="horizontal_top"></td><td class="corner2"></td></tr><tr><td class="vertical_left"></td><td class="content" valign="top">

<table cellpadding="4" style="width:100%;"><tr><td>

{if $LastPage>1}
	{if $CurrentPage>1}
		&nbsp; <a class="no_underline" href ="{"news_page=`$CurrentPage-1`"|set_query:$xRequestURI}">&lt;&lt; {$smarty.const.STRING_PREVIOUS}</a>
	{/if}
	{foreach from=$ListerRange item=_page}
		&nbsp; {if $_page!=$CurrentPage}<a class="no_underline" href="{"news_page=`$_page`"|set_query:$xRequestURI}">{$_page}</a> {else}{$_page}{/if}
	{/foreach}
	{if $CurrentPage<$LastPage}
		&nbsp; <a class="no_underline" href ="{"news_page=`$CurrentPage+1`"|set_query:$xRequestURI}">{$smarty.const.STRING_NEXT} &gt;&gt;</a>
	{/if}
<div class="newsdiv">&nbsp;</div>
{/if}{* $LastPage>1 *}

{section name=i loop=$news_posts}

	<h1>{$news_posts[i].title}</h1>
	<p>{$news_posts[i].add_date}</p>
	<p>
	{if $news_posts[i].picture_exists}
		<img src="/products_pictures/{$news_posts[i].picture}" hspace="10" align="left" />
	{/if}
	{$news_posts[i].textToPublication}
</p>
<br />
{sectionelse}

{$smarty.const.STRING_EMPTY_LIST}

{/section}
{if $LastPage>1}
	{if $CurrentPage>1}
		&nbsp; <a class="no_underline" href ="{"news_page=`$CurrentPage-1`"|set_query:$xRequestURI}">&lt;&lt; {$smarty.const.STRING_PREVIOUS}</a>
	{/if}
	{foreach from=$ListerRange item=_page}
		&nbsp; {if $_page!=$CurrentPage}<a class="no_underline" href="{"news_page=`$_page`"|set_query:$xRequestURI}">{$_page}</a> {else}{$_page}{/if}
	{/foreach}
	{if $CurrentPage<$LastPage}
		&nbsp; <a class="no_underline" href ="{"news_page=`$CurrentPage+1`"|set_query:$xRequestURI}">{$smarty.const.STRING_NEXT} &gt;&gt;</a>
	{/if}
{/if}{* $LastPage>1 *}
</td></tr></table>

</td><td class="vertical_right"></td></tr><tr><td class="corner4"></td><td class="horizontal_bottom"></td><td class="corner3"></td></tr></table>