{* forgot password page *}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>

{if $login_was_found ne NULL}
<center><b>{$smarty.const.STRING_PASSWORD_SENT}</b></center><br><br>
{elseif $login_wasnt_found ne NULL}
<font color=red><b>{$smarty.const.STRING_CANT_FIND_USER_IN_DB} ({$forgotpw})!</b></font>
{/if}


{if $wrongLoginOrPw}
<font color=red><b>{$smarty.const.ERROR_WRONG_PASSWORD}</b></font>
{/if}

<form action="index.php" method=post>
<table><tr><td>
{$smarty.const.STRING_FORGOT_PASSWORD_FIX}</td><td><input type="text" name="forgotpw">
<input type="submit" value="{$smarty.const.OK_BUTTON}">
</td></tr></table>
</form>

</center>