{* it is ordering etap *}

<h1><u>{$smarty.const.STRING_ORDERING}</u></h1>

<h3>{$smarty.const.STRING_AUTHORIZATION}</h3>

<table border="0" cellspacing="1" cellpadding="5">
	<tr>
    		<td colspan="2" bgcolor="#CCCCCC">
			<p>
				<strong>{$smarty.const.STRING_AM_NEW_CUSTOMER}</strong>
			</p>
  		</td>
  	</tr>
  	<tr>
    		<td width="15">
      			<p>&nbsp;</p>
	  </td>
    		<td width="99%">
			<p>
				{if $smarty.const.CONF_ORDERING_REQUEST_BILLING_ADDRESS == '1'}
					<a href="index.php?register=yes&order=yes">
						{$smarty.const.STRING_REGISTER}
					</a>
				{/if}
				{if $smarty.const.CONF_ORDERING_REQUEST_BILLING_ADDRESS == '0'}
					<a href="index.php?register=yes&order_without_billing_address=yes">
						{$smarty.const.STRING_REGISTER}
					</a>
				{/if}
			</p>
			{if $smarty.const.CONF_QUICK_ORDER}
      				<p>
					<a href="index.php?quick_register=yes">{$smarty.const.STRING_QUICK_ORDERING}</a>				
				</p>
			{/if}
		</td>
  	</tr>
  	<tr> 
    		<td colspan="2" bgcolor="#CCCCCC">
			<strong>{$smarty.const.STRING_I_AM_REGISTERED_CUSTOMER}</strong>
		</td>
  	</tr>
  	<tr> 
    		<td width="15">&nbsp;</td>
    		<td>
				<form action="index.php?register_authorization=yes" method="POST">
					<table border=0>
						<tr>
							<td align=right>
								<font>{$smarty.const.CUSTOMER_LOGIN}</font>
							</td>
							<td>
								<input type="text" class="ss" name="user_login" size="10" value='{$user_login}' />
							</td>
						</tr>
						<tr>
							<td align=right>
								<font>{$smarty.const.CUSTOMER_PASSWORD}</font>
							</td>
							<td>
								<input name="user_pw" class="ss" type="password" size="10" />
							</td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" name="login" value="{$smarty.const.OK_BUTTON}" /></td>
						</tr>
					</table>
				</form>
				<form action="index.php?register_authorization=yes" method="POST">
					{if $password_sent_notifycation eq 'yes'}
						<div><b>{$smarty.const.STRING_PASSWORD_SENT}</b></div>
					{elseif  $password_sent_notifycation eq 'no'}
						<div class="error_msg_f">{$smarty.const.STRING_CANT_FIND_USER_IN_DB} ({$remind_user_login})!</div>
					{/if}
					&nbsp;
					{if !$remind_password}
					<a href="index.php?register_authorization=yes&remind_password=yes">
						{$smarty.const.FORGOT_PASSWORD_LINK}
					</a>
					{else}
						{$smarty.const.STRING_FORGOT_PASSWORD_FIX}
						<input type="text" name="login_to_remind_password" value="{$user_login}" />
						<input type="hidden" name="remind_password" />
						<input type="submit" value="{$smarty.const.OK_BUTTON}" />
					{/if}
				</form>
			</td>
  	</tr>
</table>