html,body {padding: 0px; margin: 0px; /*background: #FFFFFF url('/art/down_bg.jpg') right bottom no-repeat;*/ height:100%;}
form {padding: 0px; margin: 0px;}
p {padding: 0px; margin: 10 0 10 0; text-indent: 0px}
p, td, th, div, form, span, body {font: 12px arial; color: #3e5470}
a {color: #3e5470}
a:hover {text-decoration:none; color: #272d34;}
.h100 {height: 100%;}
h1 {color: #272d34; font: 23px arial; text-align: left; margin: 0px; padding: 0px;}
h4 {font-size:12px;}
h2 {margin:0 0 15px 0; font-size:18px;}
*html h2 {margin-top:30px;}


.top {background: url('/art/up_rpt.gif') left top repeat-x; padding: 74px 0px 0px 0px; vertical-align: top}
.logo_td {padding-left: 43px;}
.menu_td {text-align: right; padding-right: 45px; vertical-align: top}
.btn_0 {padding: 0px 15px 0px 15px}
.btn_l {width: 1px; text-align: right;}
.btn_m {background: url('/art/btn_rpt.gif') left top repeat-x; padding: 0px 10px 0px 10px; color: white}
.btn_r {width: 1px; text-align: left;}

.search_form {float: right}
.search_inp {width: 246px; font: 11px arial; background: url('/art/input_rpt.gif') left top repeat-x;}
.search_sel {width: 160px; font: 11px arial; background: #eef0f3 url('/art/input_rpt.gif') left top repeat-x; color: #3e5470}

.marka_td1, .marka_td2, .marka_td3, .marka_td4 {vertical-align: top; width: 25%}
.marka {color: #272d34; font: 21px 'arial narrow';}
.marka a {color: #272d34; font: 23px 'arial narrow'; text-decoration:none;}
.marka_td1 div {padding-left: 42px; margin-top: 6px; font: bold 11px/18px arial; color: #3e5470}
.marka_td2 div {padding-left: 58px; margin-top: 6px; font: bold 11px/18px arial; color: #3e5470}
.marka_td4 div {padding-left: 54px; margin-top: 6px; font: bold 11px/18px arial; color: #3e5470}
.marka_td3 div, .marka_td1 div, .marka_td2 div, .marka_td4 div {padding:20px 25px; margin:10px 10 20 50px; font: bold 11px/18px arial; color: #3e5470;  border:1px #f2f2f2 solid;}
.marka_td1 div a, .marka_td2 div a, .marka_td3 div a, .marka_td4 div a {color: #3e5470; font: 11px arial}

@-moz-document url-prefix() {
  .lm_list ul li span {position:relative; top:-2px;}
}

.lm_list ul {}

.lm_list ul li {}

.prod_price {font-size:14px !important;}

.brief_sm {font-size:11px; color:7f7e7e !important;}

.goods_font {font-family:Verdana;}

.marka_td3 img {position:relative; top:0px;}

.good {}
.good th {background: url('/art/btn_rpt.gif') left top repeat-x; height: 32px; color: white}
.good td {height: 32px; color: #3e5470; font: 12px arial; text-align: center; padding: 4px 10px 4px 10px}
.good td a {color: #336698; font: 15px arial; text-decoration:none; }
.good td a:hover {color: #336698; font: 15px arial; text-decoration:underline;}

.right_head {margin: 0px 0px 10px 0px; font: bold 17px arial;}
.right_div {background: url('/art/right_rpt.jpg') left top repeat-y; margin-bottom: 15px; padding: 8px 10px 10px 15px}
.right_div div {background: url('/art/right_bul.gif') left center no-repeat; padding-left: 7px; margin: 2px 0px 2px 0px}
.right_div div a {font: 11px arial}

.content, .content p, .content td, .content span, .content div, .content th {line-height: 18px; color: #555555}
.content p {margin-bottom: 20px;}
.dyn {text-decoration: none}
.dyn_head {font: 22px arial narrow; text-align: center; margin-top: 8px}

.bot {background: url('/art/down_rpt.gif') left bottom repeat-x; vertical-align: bottom; padding: 0px 45px 35px 50px;}
.bot table td {color: #6b6b6b}

#top_menu {
  position:absolute;
  top:20px; right:45px;
  color:#354d6a;
  font-size:12px;
}

#phones {
  float:right;
  color:#354d6a;
  font-size:20px;
  font-weight:bold;
  position:relative; top:-40px;
  line-height:34px;
}