<table>
	<tr>
		<td valign="bottom">
			{$smarty.const.COURIER_TXT_AMOUNT}
		</td>
		<td valign="bottom">
			{$smarty.const.COURIER_TXT_COST}
		</td>
		<td width="100%">
		</td>
	</tr>
	<tr>
		<td>
			<input name="fORDER_AMOUNTS[]" />
		</td>
		<td>
			<input name="fRATES[]" />
		</td>
		<td>
			<input type="submit" name="save" value="{$smarty.const.ADD_BUTTON}" />
		</td>
	</tr>
	<tr>
		<td colspan="3"><hr /></td>
	</tr>
{foreach from=$Rates item=_Rate}
	<tr>
		<td>
			<input name="fORDER_AMOUNTS[]" value="{$_Rate.orderAmount}" />
		</td>
		<td>
			<input name="fRATES[]" value="{$_Rate.rate}{if $_Rate.isPercent}%{/if}" />
		</td>
		<td valign="middle">
			<a href="{"&delete_rate=`$_Rate.orderAmount`"|set_query}" title="{$smarty.const.DELETE_BUTTON}" ><img alt="{$smarty.const.DELETE_BUTTON}" src="./images/remove.jpg" align="left" border="0" /></a>
		</td>
	</tr>
{/foreach}
</table>